# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Dataset
data/

# Model artifacts
artifacts/

# Experiment tracking
wandb/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log