# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Python build files
build/
dist/
*.egg-info/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Datasets
# =========================
data/

# =========================
# Model artifacts
# =========================
artifacts/
*.pt
*.pth
*.ckpt

# =========================
# Experiment tracking
# =========================
wandb/
mlruns/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Google Colab temp files
# =========================
content/
drive/

# =========================
# Temporary files
# =========================
*.tmp
*.cache
*.bak